<!DOCTYPE html>
{% extends 'mobile/base.html' %}
{% block body_block %}


<div class="card">
  <img src="{{mobile.image.url}}" alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>{{mobile.product_name}}</b></h4>
    <h5>{{mobile.price}}</h5>
      <p>Specifications:<br>{{mobile.spec}}</p>
  </div>
</div>


      {%if not request.user.is_superuser%}
    <a href="{% url 'order' mobile.id%}" class="btn btn-primary">Buy Now</a>
      <a href="{% url 'addtocart' mobile.id%}" class="btn btn-primary">Add to Cart</a>
      {%endif%}
  </div>
</div>
    </div>


</div>


{% endblock %}